@import url('https://fonts.googleapis.com/css2?family=Acme&family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');



* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.headers h1 {
    margin: 20% 5% 10% 5%;
    font-size: 20px;
    font-family: 'acme', sans-serif;
    text-align: center;
    line-height: 25px;
}

main {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
}

.card_1 {
    border-radius: 20px;
    background-color: #EBEBEB;
    padding: 3% 2% 2% 2%;
}

.input_data {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-top: 2%;
}

.input_data label {
    /* font-family: 'Azeret Mono', monospace; */
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    padding-bottom: 4%;
}

.input_data input {
    border-radius: 50px;
    border: 0px;
    padding: 4%;
}

.input_data input::-webkit-input-placeholder {
    color: #A4A1A1;
    font-size: 11px;
}

.btn_prediksi {
    display: flex;
    justify-content: center;
    padding: 4%;
    margin-top: 10%;
}

.btn_prediksi input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 1% 10% 1% 10%;
    font-size: 12px;
    font-family: 'Azeret Mono';
    cursor: pointer;
}

.btn_prediksi input[type="submit"]:hover{
    background-color: grey;
}

footer {
    position: absolute;
    text-align: center; 
    left: 0; 
    right: 0;
    bottom: 1em;  
}

.cards{
    display: flex;
    position: absolute;
    width: 10hmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards .card-popup{
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-popup img{
    align-items: center;
    width: 90%;
    justify-content: center;
}

.card-popup #btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 50%;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
}
.card-popup #btn-close:hover{
    background-color: gray;
}

.card-popup .line{
    margin-top: 2%;
    width: 90%;
    background: grey;
    height: 1px;
}

.card-popup p{
    text-align: center;
    padding: 0 5% 0;
}

.progress{
    display: none;
    font-size: xx-large;
}

@media screen and (min-width: 640px){
    .headers h1{
        font-size: x-large;
        margin: 3% 2%;
    }
}

@media screen and (min-width: 1024px){
    .headers h1{
        font-size: xx-large;
        margin: 3% 0 5% 0;
    }

    .card_1{
        width: 30%;
    }
}
