<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistem prediksi harga bahan pangan Indonesia</title>
    <link rel="stylesheet" href="/static/style/index.css">
</head>
<body>
    <header class="headers">
        <h1>Sistem prediksi Harga Bahan Pangan Indonesia</h1>
    </header>
    <main>
        <section class="card">
                <div class="card_1">
                    <div class="input_data">
                        <label for="">Jenis Bahan Pangan</label>
                        <input list="data_pangan" name="data_pangan" id="jenis_data_pangan" placeholder="pilih salah satu">
                        <datalist id="data_pangan">
                            <option value="Beras"></option>
                            <option value="Beras Kualitas Bawah 1"></option>
                            <option value="Beras Kualitas Bawah 2"></option>
                            <option value="Beras Kualitas Medium 1"></option>
                            <option value="Beras Kualitas Medium 2"></option>
                            <option value="Beras Kualitas Super 1"></option>
                            <option value="Beras Kualitas Super 2"></option>
                            <option value="Daging Ayam Ras Segar"></option>
                            <option value="Telur Ayam Ras Segar"></option>
                            <option value="Bawang Merah Ukuran Sedang"></option>
                            <option value="Bawang Putih Ukuran Sedang"></option>
                            <option value="Cabai Rawit Hijau"></option>
                            <option value="Cabai Rawit Merah"></option>
                            <option value="Cabai Merah Besar"></option>
                            <option value="Cabai Merah Keriting"></option>
                            <option value="Minyak Goreng"></option>
                            <option value="Minyak Goreng Curah"></option>
                            <option value="Minyak Goreng Kemasan Bermerek 1"></option>
                            <option value="Minyak Goreng Kemasan Bermerek 2"></option>
                            <option value="Gula Pasir"></option>
                            <option value="Gula Pasir Kualitas Premium"></option>
                            <option value="Gula Pasir Lokal"></option>
                        </datalist>
                    </div>
                    <div class="input_data">
                        <label for="">Tanggal</label>
                        <input id="dates" type="date">
                    </div>
                    <div class="btn_prediksi">
                        <input id="btn_submit" type="button" value="PREDIKSI" id="button_prediksi">
                    </div>
                </div>
        </section>
    </main>
    <footer>Melsa &copy; 2022</footer>
</body>
</html>