<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistem prediksi harga bahan pangan Indonesia</title>
    <link rel="stylesheet" href="/static/style/index.css">
    
</head>
<body>
    <header class="headers">
        <h1>Sistem prediksi Harga Bahan Pangan Indonesia</h1>
    </header>
    <main>
        <!-- <form action="" method="post"> -->
            <div class="card">
                <div class="card_1">
                    <div class="input_data">
                        <label for="data_pangan">Jenis Bahan Pangan</label>
                        <input list="data_pangan" name="data_pangan" id="jenis_data_pangan" placeholder="pilih salah satu">
                        <datalist id="data_pangan">
                            <option value="Bawang Merah"></option>
                            <option value="Bawang Merah Ukuran Sedang"></option>
                            <option value="Bawang Putih"></option>
                            <option value="Bawang Putih Ukuran Sedang"></option>
                            <option value="Beras"></option>
                            <option value="Beras Kualitas Bawah 1"></option>
                            <option value="Beras Kualitas Bawah 2"></option>
                            <option value="Beras Kualitas Medium 1"></option>
                            <option value="Beras Kualitas Medium 2"></option>
                            <option value="Beras Kualitas Super 1"></option>
                            <option value="Beras Kualitas Super 2"></option>
                            <option value="Daging Ayam"></option>
                            <option value="Daging Ayam Ras Segar"></option>
                            <option value="Daging Sapi"></option>
                            <option value="Daging Sapi Kualitas 1"></option>
                            <option value="Daging Sapi Kualitas 1"></option>
                            <option value="Cabai Rawit"></option>
                            <option value="Cabai Rawit Hijau"></option>
                            <option value="Cabai Rawit Merah"></option>
                            <option value="Cabai Merah"></option>
                            <option value="Cabai Merah Besar"></option>
                            <option value="Cabai Merah Keriting"></option>
                            <option value="Gula Pasir"></option>
                            <option value="Gula Pasir Lokal"></option>
                            <option value="Gula Pasir Kualitas Premium"></option>
                            <option value="Minyak Goreng"></option>
                            <option value="Minyak Goreng Curah"></option>
                            <option value="Minyak Goreng Kemasan Bermerk 1"></option>
                            <option value="Minyak Goreng Kemasan Bermerk 1"></option>
                            <option value="Telur Ayam"></option>
                            <option value="Telur Ayam Ras Segar"></option>
                        </datalist>
                    </div>
                    <div class="input_data">
                        <label for="date_end">Date</label>
                        <input id="date_end" name="date_end" class="date_end" type="date">
                    </div>
                    <div class="btn_prediksi">
                        <input class="btn_predict" id="btn_submit" type="submit" value="PREDIKSI">
                        <!-- <button id="button-prediksi">prediksi</button> -->
                    </div>
                </div>
            </div>
        <!-- </form> -->
        <div class="value"></div>
        <div class="progress"><p>ABCCCC</p></div>
        
        <section class="card">
                
        <script src="../static/script/index.js" type="text/javascript"></script>
        </section>
        
    </main>
    <footer>Melsa &copy; 2022</footer>
</body>
</html>